<div class="container">
  <div class="clear-header">
   <h1> Message Log with <%= @conversation.sender_id == current_user ? @conversation.recipient.first_name : @conversation.sender.first_name  %> </h1>
    <%= link_to conversations_path do %>
      <p><i class="fa fa-undo" aria-hidden="true" style="font-size: 20px"></i> Go back to inbox</p>
    <% end %>
  </div>

  <div class="messages">

    <% if @over_ten %>
      <%= link_to "all messages", conversation_messages_path(@conversation, {read_option: 'all'}) %>
    <% end %>

    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="row message">
          <div class="hidden-xs col-sm-3">
            From:
          </div>
          <% if user.first_name? %>
            <div class="col-xs-6 col-sm-3 user_name"><strong><%= user.first_name %></strong></div>
            <div class="col-xs-6 col-sm-3"><%= message.body %></div>
            <div class=" col-sm-3 hidden-xs"><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
          <% else %>
            <div class="col-xs-6 col-sm-3 user_name"><strong><%= user.email %></strong></div>
            <div class="col-xs-6 col-sm-3"><%= message.body %></div>
            <div class="hidden-xs col-sm-3"><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="padded-boxling text-center">
    <h1>Write a message</h1>
  </div>


<%= render 'form', message: @message, conversation: @conversation %>

</div>
