<% @user = current_user %>

<div class="container">

  <h2 class="clear-header">Your created events</h2>

  <h3>Active events</h3>


  <div class="row">
    <% if @user.events %>
      <% @user.events.where(active: true).each do |event| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="grid">
            <figure class="effect-bibi">
              <% background_image = ("sports-photos/" + event.sport.name + ".jpg") %>
              <%= image_tag (background_image) %>
              <figcaption>
                <h2> <%= event.title %> </h2>
                <p><%= event.description.truncate_words(10) %></p>
                <p><%= event.start_time %></p>
                <%= link_to "", event_path(event), class: "card-link"%>
              </figcaption>
            </figure>
          </div>
        </div>
      <% end %>
    <% else %>
    <p>No events to show</p>
    <% end %>
  </div>

    <h3>Inactive events</h3>

  <div class="row">
    <% if @user.events %>
      <% @user.events.where(active: false).each do |event| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="grid">
            <figure class="effect-bibi">
              <% background_image = ("sports-photos/" + event.sport.name + ".jpg") %>
              <%= image_tag (background_image) %>
              <figcaption>
                <h2> <%= event.title %> </h2>
                <p><%= event.description.truncate_words(10) %></p>
                <p><%= event.start_time %></p>
                <%= link_to "", event_path(event), class: "card-link"%>
              </figcaption>
            </figure>
          </div>
        </div>
      <% end %>
    <% else %>
    <p>No events to show</p>
    <% end %>
  </div>


</div>


