<div class="container">

<h2 class="clear-header">Joined Games</h2>

  <div class="row">

    <% current_user.bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="grid" style="height: 30vmax">
          <figure class="effect-bibi">
            <% background_image = ("sports-photos/" + booking.event.sport.name + ".jpg") %>
            <%= image_tag (background_image) %>
            <figcaption>
            <h2> <%= booking.event.title %> </h2>

              <p><%= (booking.event.description).truncate_words(10) %></p>
              <p><%= booking.event.start_time %> --- <%= booking.booking_state %> </p>
             <%#= link_to 'Chat to Event owner', conversations_path(sender_id: current_user.id, recipient_id: booking.event.user.id), method: "post", class: "btn btn-primary"%>
              <% avatar_url = booking.event.user.photo? ? cl_image_path(booking.event.user.photo.path) : booking.event.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
              <%= cl_image_tag (avatar_url), id: "card-avatar" %>
            <%= link_to "", booking_path(booking), class: "card-link"%>
          </figcaption>
        </figure>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%#= link_to booking_path(booking) do %>

<%# end %>
