<div class="container">
<h2>My bookings</h2>
  <div class="row">
    <% current_user.bookings.each do |booking| %>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="sport-image">
            <%= image_tag ("sports/" + booking.event.sport.name + ".png"), style: "width: 15vmin" %>
          </div>
          <div class="card-info">
            <h3><%= booking.event.title %></h3>
            <p><%= booking.event.start %></p>
            <br>
            <h3><%= booking.booking_state %></h3>
          </div>
          <div class="right-side">
            <% avatar_url = booking.event.user.photo? ? cl_image_path(booking.event.user.photo.path) : booking.event.user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar" %>
          </div>
          <%= link_to "", booking_path(booking), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% current_user.bookings.each do |booking| %>
  <% background_image = image_path("sports-photos/" + booking.event.sport.name + ".jpg") %>
 <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_image %>')>
</div>
<% end %>
