<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <%= link_to my_profile_path do %>
     <h1> <i class="fa fa-undo" aria-hidden="true"></i> </h1>
      <% end %>


      <h1 class="text-center">Edit your profile</h1>

      <div class="edit-form">


        <%= simple_form_for @user, url: my_profile_path do |f| %>

        <%= f.input :username, placeholder: "How users will see you" %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%#= f.input :location %>
        <%= f.input :bio %>
        <%#= f.input :sports %>
        <%= f.input :photo, as: :attachinary %>


        <%= f.submit 'Update your profile' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
