<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">

			<%= link_to my_profile_path do %>
			<h1> <i class="fa fa-undo" aria-hidden="true"></i> </h1>
			<% end %>


			<h1 class="text-center">Edit your profile</h1>

			<div class="edit-form">


				<%= simple_form_for @user, url: my_profile_path do |f| %>

				<%= f.input :username, placeholder: "How users will see you" %>
				<%= f.input :first_name %>
				<%= f.input :last_name %>
        <%= f.input :gender, label: 'Gender', collection: ['Male', 'Female', 'Other']  %>
				<%= f.input :address %>
				<%= f.input :bio %>
				<%= f.input :photo, as: :attachinary %>


				<div class="form-group">

					<label class="control-label check_boxes optional">
						Sports Preferences
					</label>

					<input type="hidden" name="user[sport_ids][]" value="">

					<div class="sport-choices">
						<% Sport.all.each do |sport| %>



						<% if @user.sports.include?(sport) %>
							<input class="hidden" type="checkbox" value="<%= sport.id %>" name="user[sport_ids][]" id="user_sport_ids_<%= sport.id %>" checked>
							<label class="sport-choice active" for="user_sport_ids_<%= sport.id %>">
						<% else %>
							<input class="hidden" type="checkbox" value="<%= sport.id %>" name="user[sport_ids][]" id="user_sport_ids_<%= sport.id %>">
							<label class="sport-choice" for="user_sport_ids_<%= sport.id %>">
						<% end %>
								<%= image_tag ("sports/thumbnails/#{sport.name}.png"), style: "width: 7vmin" %> <br>
								<%= sport.name %>
							</label>

						<% end %>
					</div>

				</div>


        <!-- <div class="myFlex">
          <%# Sport.all.each do |sport| %>
          <div class="myFlex2">
            <%# check_box_tag "user[sport_ids][]", sport.id, f.object.sports.include?(sport) %>
            <span><%# sport.name %></span>
          </div>
          <%# end %>
        </div> -->

        <%# f.association :sports, as: :check_boxes %>


        <%#= f.input :sports %>

        <div class="text-center">
          <%= f.submit 'Update your profile', class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
