<!-- tabs for each section -->
<div class="profile-dashboard">
  <ul class="nav nav-tabs tabbles">
    <li role="presentation" class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#events" data-toggle="tab">Created Events</a></li>
    <li role="presentation"><a href="#bookings" data-toggle="tab">Joined games</a></li>
    <li role="presentation"><a href="#requests" data-toggle="tab">Requests to join</a></li>
  </ul>
</div>

<!-- where each tab goes -->
<div class="tab-content">

<!-- first page is always profile (hence active tab) -->
  <div role="tabpanel" class="tab-pane active" id="profile">
    <%= render "profiles/profile_page" %>
  </div>

<!-- created events page -->
  <div role="tabpanel" class="tab-pane" id="events">
    <div class="container">
      <div class="clear-header">
        <h1>Created Events</h1>
      </div>
      <div class="row">
        <% @user.events.each do |event| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="sport-image">
                <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 15vmin" %>
              </div>
              <div class="card-info">
                <h3><%= event.title %></h3>
                <p><%= event.start %></p>
                <!-- <p> <%# event.description.truncate_words(5) %> </p> -->
              </div>
              <%= link_to "", event_path(event), class:"card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- joined games page -->
  <div role="tabpanel" class="tab-pane" id="bookings">
    <%#= render "profiles/my_bookings" %>
  </div>

<!-- requested games page -->
  <div role="tabpanel" class="tab-pane" id="requests">
    <%#= render "profiles/my_requests" %>
  </div>

</div>
