<% if !@user.photo %>
  <% profile_image = "http://placehold.it/30x30" %>
  <% else %>
  <% profile_image = @user.photo.path || @user.facebook_picture_url.gsub("square", "large") %>
<% end %>

<!-- header wrapper for profile page -->
<div class="wrapper">
  <div class="wrapper-contents">
    <%= cl_image_tag profile_image, max_width: 200, crop: :fill, responsive_placeholder: "blank" %>
    <h2 class="text-center"><%= @user.first_name %></h2>
    <h5 class="text-center"><%= @user.created_at.strftime("Joined in %B, %Y") %></h5>
  </div>
</div>

<!-- tabs for each section -->
<div class="profile-dashboard">
  <ul class="nav nav-tabs tabbles">
    <li role="presentation" class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#events" data-toggle="tab">Created Events</a></li>
    <li role="presentation"><a href="#bookings" data-toggle="tab">Joined games</a></li>
    <li role="presentation"><a href="#requests" data-toggle="tab">Requests to join</a></li>
  </ul>
</div>

<!-- where each tab goes -->
<div class="tab-content">

<!-- first page is always profile (hence active tab) -->
  <div role="tabpanel" class="tab-pane active" id="profile">
    <%= render "profiles/profile_page" %>
  </div>

<!-- created events page -->
  <div role="tabpanel" class="tab-pane" id="events">
      <%= render "profiles/created_events" %>
  </div>

<!-- joined games page -->
  <div role="tabpanel" class="tab-pane" id="bookings">
    <%= render "profiles/my_bookings" %>
  </div>

<!-- requested games page -->
  <div role="tabpanel" class="tab-pane" id="requests">
    <%= render "profiles/my_requests" %>
  </div>

</div>
