<h1>Chat rooms</h1>


<ul>
  <%= render @chat_rooms %>
</ul>

    <div class="padded-boxling">
    <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <div class="smaller-items">
            <% if user.first_name? %>
              <p> <i class="fa fa-user-circle"></i> <%= user.first_name %>  <%= link_to "Send a message", chat_rooms_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%> </p>
            <% elsif user.username?  %>
              <p> <i class="fa fa-user-circle"></i> <%= user.username %> <%= link_to "Send a message", chat_rooms_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%> </p>
            <% else %>
              <p> <i class="fa fa-user-circle"></i> <%= user.email %> <%= link_to "Send a message", chat_rooms_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%> </p>
            <% end %>
          </div>
        <% end %>
    <% end %>
    </div>
