<% if @chat_room.sender.photo %>
<% avatar_url_1 = @chat_room.sender.photo.path %>
<% elsif @chat_room.sender.facebook_picture_url %>
<% avatar_url_1 = @chat_room.sender.facebook_picture_url.gsub("square", "large") %>
<% else %>
<% avatar_url_1 = "https://api.adorable.io/avatars/285/sportl.png" %>
<% end %>

<% if @chat_room.recipient.photo %>
<% avatar_url_2 = @chat_room.recipient.photo.path %>
<% elsif @chat_room.recipient.facebook_picture_url %>
<% avatar_url_2 = @chat_room.recipient.facebook_picture_url.gsub("square", "large") %>
<% else %>
<% avatar_url_2 = "https://api.adorable.io/avatars/285/sportl.png" %>
<% end %>

<div class="container chatroom-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="chatroom-header text-center">
        <% if @chat_room.sender_id == current_user.id %>
          <%= cl_image_tag avatar_url_1, crop: :fill, responsive_placeholder: "blank", class: "avatar" %>
          <%= cl_image_tag avatar_url_2, crop: :fill, responsive_placeholder: "blank", class: "avatar" %>
          <h2>Chat between <strong><%= @chat_room.sender.first_name %></strong> and <strong><%= @chat_room.recipient.first_name %></strong></h2>
          <h4> You are talking about the event '<%= current_user.bookings.last.event.title %>'</h4>
        <% else %>
          <%= cl_image_tag avatar_url_2, crop: :fill, responsive_placeholder: "blank", class: "avatar" %>
          <%= cl_image_tag avatar_url_1, crop: :fill, responsive_placeholder: "blank", class: "avatar" %>
          <h2>Chat between <strong><%= @chat_room.recipient.first_name %></strong> and <strong><%= @chat_room.sender.first_name %></strong></h2>
          <% if @chat_room.sender.bookings.any? %>
          <h4> You are talking about the event ' <%= @chat_room.sender.bookings.last.event.title %>'</h4>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="posts-container"  id="posts" data-chat-room-id="<%= @chat_room.id %>">
        <%= render @chat_room.posts %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= simple_form_for @post, url: '#' do |f| %>

      <%= f.input :body, as: :string, label: false, class: 'form-control', placeholder: "enter your message" %>
      <small class="text-muted">From 2 to 1000 characters</small>

      <% f.submit "Post", class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
