<% if user.first_name? %>
  <div><strong><%= user.first_name %></strong></div>
  <div><%= message.body %></div>
  <div><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
<% else %>
  <div><strong><%= user.email %></strong></div>
  <div ><%= message.body %></div>
  <div><%= message.message_time.strftime("%l:%M%p on the %e %b") %></div>
<% end %>
