<div class="sportl-navbar">

 <!-- Logo -->
  <% if user_signed_in? %>
    <div class="navbar-sportl-right">
      <div>
        <%= link_to root_path, class: "navbar-sportl-brand" do %>
          <%= image_tag "logo_writing.png" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div>
      <%= link_to root_path, class: "navbar-sportl-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <%= link_to "Sportl.", root_path, id: "logo-name"%>
    </div>
  <% end %>

  <div class="navbar-sportl-right hidden-xs hidden-sm">

  <% if user_signed_in? %>
      <!-- Profile picture and dropdown -->
    <div class="navbar-sportl-item-item navbar-sportl-link">
      <%= current_user.username %>
      <% if !current_user.photo %>
        <% avatar_url = "https://api.adorable.io/avatars/285/sportl.png" %>
      <% else %>
        <% avatar_url = current_user.photo.path || current_user.facebook_picture_url %>
      <% end %>
        <%= cl_image_tag avatar_url, class: "avatar" %>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

  </div>

</div>
