<div class="navbar-wagon">
  <!-- Logo -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-right">
      <div>
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo_writing.png" %>
        <% end %>
      </div>
      <div class="navbar-wagon-item" style="margin-left: 20px">
        <%= link_to "find a player", new_event_path %>
      </div>
    </div>
  <% else %>
    <div>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <%= link_to "Sportl.", root_path, id: "logo-name"%>
    </div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- my events link -->
      <div class="navbar-wagon-item navbar-wagon-link">
        <%= link_to "my events", my_bookings_path %>
      </div>

      <!-- Notification -->
      <div class="navbar-wagon-item navbar-wagon-link">
        <%= link_to "my messages", conversations_path %>
      </div>


      <%# link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <!-- <div class="badge-container"> -->
<!--           <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div> -->
        <!-- </div> -->
      <%# end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item navbar-wagon-link">
        <div class="dropdown">


          <%= link_to current_user.username, "#", class: "dropdown-toggle", id: "username-link", "data-toggle" => "dropdown" %>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>



          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to my_profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

    <!-- Button (call-to-action) -->
    <%# link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

