<div class="sportl-navbar" id="hover-nav">

  <!-- Logo -->
  <div class="navbar-sportl-sides">
    <div>
      <%= link_to root_path, class: "navbar-sportl-brand hidden-xs" do %>
        <%= image_tag "logo_writing.png" %>
      <% end %>
    </div>
    <div>
      <%= link_to root_path, class: "small-sportl-brand visible-xs" do %>
      <%= image_tag "logo_writing.png" %>
    </div>
  </div>
  <% end %>
  <!-- end logo -->

  <!-- left side of navbar -->
  <div class="left-side-navbar">
    <div class="navbar-sportl-sides hidden-xs hidden-sm">
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
          <!-- SEARCH -->
            <%= link_to events_path do %>
            search
              <!-- <i class="fa fa-search" style="font-size: 40px"></i> -->
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
          <!-- NEW EVENT -->
            <%= link_to new_event_path do %>
              create event
              <!-- <i class="fa fa-plus" style="font-size: 40px"></i> -->
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- <div class="navbar-sportl-item navbar-sportl-link"> -->
        <%# if user_signed_in? %>
        <!-- CAPTAIN MENU -->
          <!-- <div class="navbar-sportl-item" style="margin-left: 20px"> -->
            <%#= link_to "captain", "#", class: "hvr-grow toggle-captain" %>
          <!-- </div> -->
        <%# end %>
      <!-- </div> -->
    </div>
  </div>
  <!-- end of left side -->

  <!-- right side of navbar -->
  <div class="right-side-navbar">
    <div class="navbar-sportl-sides hidden-xs hidden-sm">
      <!-- <div class="navbar-sportl-item navbar-sportl-link">
        <%# if user_signed_in? %>
          <div class="navbar-sportl-item">
          PLAYER MENU
            <%#= link_to "player", "#", class: "hvr-grow toggle-player" %>
          </div>
        <%# end %>
      </div> -->
      <!-- PROFILE -->
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "#", class: "hvr-grow toggle-profile" do%>
                my profile
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
        <!-- MESSAGES -->
          <div class="navbar-sportl-item" style="margin-left: 20px">

            <%= link_to "#", class: "hvr-grow toggle-messages" do %>
              <!-- <i class="fa fa-envelope-o" style="font-size: 40px"></i> -->
              <% if user_signed_in? && (unread_messages + current_user.notifications.count != 0) %>
               messages  (<%= unread_messages + current_user.notifications.count %>)
               <% else %>
               messages
               <% end %>

            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% if !user_signed_in? %>
      <div class="sign-in-btn hidden-xs">
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-sportl-item-item navbar-sportl-item-link hvr-grow" %>
      </div>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-sportl-item hidden-md hidden-lg" style="position: absolute; right: 10px;">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-sides navbar-sportl-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- FIND EVENT DROPDOWN -->
<div class="sub-nav-holder nav-find">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%= form_tag("events", method: "get", class: "form-inline", id: "nav-sport-form") do %>
        <div class="form-group">
          <%= select_tag "sports", options_for_select(sports_list) %>
        </div>
        <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker5' >
            <input type='text' class="form-control" name="start" placeholder="from" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker6' >
            <input type='text' class="form-control" name="end" placeholder="until" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= select_tag "missing_player", options_for_select(party_size), placeholder: "Party size" %>
        </div>
        <div class="form-group">
         <%= select_tag "gender", options_for_select(['Any', 'Male', 'Female']), placeholder: "Any" %>
       </div>
        <div class="form-group">
          <input type="text" name="location" placeholder="Postcode" class="form-control">
        </div>
        <div class="form-group">
          <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" id="radius" />
        </div>
        <%= submit_tag("Search", class: "btn btn-primary sport-form-submit") %>
        <div id="slider"></div>
    <% end %>
    </div>
  </div>
</div>


<!-- CAPTAIN DROPDOWN -->
<!-- <div class="sub-nav-holder nav-captain">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%#= link_to "created events", created_events_path %>
    </div>
    <div class="sub-nav-link">
      <%#= link_to "player requests", my_requests_path %>
    </div>
  </div>
</div> -->

<!-- PLAYER DROPDOWN -->
<!-- <div class="sub-nav-holder nav-player">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%#= link_to "joined events", my_bookings_path %>
    </div>
  </div>
</div> -->

<!-- PROFILE DROPDOWN -->
<div class="sub-nav-holder nav-profile">
  <div class="sub-nav-inner-profile">
    <!-- CAPTAIN -->
    <div class="captain-stuff flex-container-column">
      <div class="text-center inner-profile-title"> Captain menu </div>
      <div class="myFlex">
        <div class="sub-nav-link nav-inner-link">
          <%= link_to "player requests", my_requests_path %>
        </div>
        <div class="sub-nav-link nav-inner-link">
          <%= link_to "created events", created_events_path %>
        </div>
      </div>
    </div>
    <!-- PLAYER -->
    <div class="player-stuff flex-container-column">
      <div class="text-center inner-profile-title"> Player menu </div>
      <div class="myFlex">
        <div class="sub-nav-link nav-inner-link">
          <%= link_to "joined events", my_bookings_path %>
        </div>
      </div>
    </div>
    <!-- PROFILE -->
    <div class="profile-stuff flex-container-column">
      <div class="text-center inner-profile-title"> Profile </div>
        <div class="myFlex">
          <div class="sub-nav-link nav-inner-link">
            <%= link_to my_profile_path do %>
              my page
            <% end %>
          </div>
          <div class="sub-nav-link nav-inner-link">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "log out") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MESSAGES DROPDOWN -->
<div class="sub-nav-holder nav-messages">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
    <% if user_signed_in? && unread_messages != 0 %>
      <%= link_to "chats (#{unread_messages})", chat_rooms_path %>
      <% else %>
      <%= link_to "chats", chat_rooms_path %>
      <% end %>
    </div>
    <div class="sub-nav-link">
      <% if user_signed_in? && current_user.notifications.count != 0 %>
        <%= link_to "notifications (#{current_user.notifications.count})", notifications_path %>
      <% else %>
        <%= link_to "notifications", notifications_path %>
      <% end %>
    </div>
  </div>
</div>

<!-- JAVASCRIPT -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.toggle-find').click(function() {
        $('.nav-player').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-player').slideUp("medium");
        $('.nav-messages').slideUp("medium");
        $('.nav-find').slideToggle("slow");
        $('.nav-find').css({display: 'flex'});
      })
      $('.toggle-captain').click(function() {
        $('.nav-find').slideUp("medium");
        $('.nav-player').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-messages').slideUp("medium");
        $('.nav-captain').slideToggle("slow");
        $('.nav-captain').css({display: 'flex'});
      });
      $('.toggle-player').click(function() {
        $('.nav-find').slideUp("medium");
        $('.nav-captain').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-messages').slideUp("medium");
        $('.nav-player').slideToggle("slow");
        $('.nav-player').css({display: 'flex'});
      });
      $('.toggle-profile').click(function() {
        $('.nav-find').slideUp("medium");
        $('.nav-captain').slideUp("medium");
        $('.nav-player').slideUp("medium");
        $('.nav-messages').slideUp("medium");
        $('.nav-profile').slideToggle("slow");
        $('.nav-profile').css({display: 'flex'});
      });
      $('.toggle-messages').click(function() {
        $('.nav-find').slideUp("medium");
        $('.nav-captain').slideUp("medium");
        $('.nav-player').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-messages').slideToggle("slow");
        $('.nav-messages').css({display: 'flex'});
      });
      $('#datetimepicker5').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
          icons: {
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right'
          }
        });

        $('#datetimepicker6').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
        });
        $("#datetimepicker5").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").minDate(e.date);
            $('#datetimepicker6').data("DateTimePicker").defaultDate(e.date);
        });
    });
  <% end %>

<% end %>
