<div class="sportl-navbar" id="hover-nav">

  <!-- Logo -->
  <div class="navbar-sportl-sides">
    <div>
      <%= link_to root_path, class: "navbar-sportl-brand hidden-xs" do %>
        <%= image_tag "logo_writing.png" %>
      <% end %>
    </div>
    <div>
      <%= link_to root_path, class: "small-sportl-brand visible-xs" do %>
      <%= image_tag "logo_writing.png" %>
    </div>
  </div>
  <% end %>
  <!-- end logo -->

  <!-- left side of navbar -->
  <div class="left-side-navbar">
    <div class="navbar-sportl-sides hidden-xs hidden-sm">
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "find event", '#', class: "hvr-grow toggle-find" %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "add event", '#', class: "hvr-grow toggle-requests" %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "captain", "#", class: "hvr-grow toggle-events" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- end of left side -->

  <!-- right side of navbar -->
  <div class="right-side-navbar">
    <div class="navbar-sportl-sides hidden-xs hidden-sm">
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item">
            <%= link_to "player", "#", class: "hvr-grow toggle-profile" %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "profile", "#", class: "hvr-grow toggle-chats" %>
          </div>
        <% end %>
      </div>
      <div class="navbar-sportl-item navbar-sportl-link">
        <% if user_signed_in? %>
          <div class="navbar-sportl-item" style="margin-left: 20px">
            <%= link_to "messages", "#", class: "hvr-grow toggle-chats" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% if !user_signed_in? %>
      <div class="sign-in-btn hidden-xs">
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-sportl-item-item navbar-sportl-item-link hvr-grow" %>
      </div>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-sportl-item hidden-md hidden-lg" style="position: absolute; right: 10px;">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-sides navbar-sportl-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- FIND EVENT DROPDOWN -->
<div class="sub-nav-holder nav-find">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%= form_tag("events", method: "get", class: "form-inline", id: "nav-sport-form") do %>
        <div class="form-group">
          <%= select_tag "sports", options_for_select(@sports_list) %>
        </div>
        <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker1' >
            <input type='text' class="form-control" name="start" placeholder="from" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker2' >
            <input type='text' class="form-control" name="end" placeholder="until" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= select_tag "missing_player", options_for_select(@party_size), placeholder: "Party size" %>
        </div>
        <div class="form-group">
          <input type="text" name="location" placeholder="Postcode" class="form-control">
        </div>
        <div class="form-group">
          <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" id="radius" />
        </div>
        <%= submit_tag("Search", class: "btn btn-primary sport-form-submit") %>
        <div id="slider"></div>
    <% end %>
    </div>
  </div>
</div>


<!-- REQUESTS DROPDOWN -->
<div class="sub-nav-holder nav-requests">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%= link_to "sent requests", "#" %>
    </div>
    <div class="sub-nav-link">
      <%= link_to "received requests", my_requests_path %>
    </div>
  </div>
</div>

<!-- EVENTS DROPDOWN -->
<div class="sub-nav-holder nav-events">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%= link_to "joined events", my_bookings_path %>
    </div>
    <div class="sub-nav-link">
      <%= link_to "created events",  created_events_path %>
    </div>
  </div>
</div>

<!-- PROFILE DROPDOWN -->
<div class="sub-nav-holder nav-profile">
  <div class="sub-nav-inner">
    <div class="sub-nav-link">
      <%= link_to my_profile_path do %>
        <i class="fa fa-user"></i> <%= t(".profile", default: "my page") %>
      <% end %>
    </div>
    <div class="sub-nav-link">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "log out") %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.toggle-find').click(function() {
        $('.nav-events').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-requests').slideUp("medium");
        $('.nav-find').slideToggle("slow");
        $('.nav-find').css({display: 'flex'});
      })
      $('.toggle-requests').click(function() {
        $('.nav-events').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-requests').slideToggle("slow");
        $('.nav-requests').css({display: 'flex'});
      });
      $('.toggle-events').click(function() {
        $('.nav-requests').slideUp("medium");
        $('.nav-profile').slideUp("medium");
        $('.nav-events').slideToggle("slow");
        $('.nav-events').css({display: 'flex'});
      });
      $('.toggle-profile').click(function() {
        $('.nav-requests').slideUp("medium");
        $('.nav-events').slideUp("medium");
        $('.nav-profile').slideToggle("slow");
        $('.nav-profile').css({display: 'flex'});
      });
      $('#datetimepicker1').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
          icons: {
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right'
          }
        });

        $('#datetimepicker2').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            $('#datetimepicker2').data("DateTimePicker").defaultDate(e.date);
        });
    });
  <% end %>

<% end %>
