<div class="container">
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-xs-12 col-md-6">
      <div class="card">
        <div class="sport-image">
          <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 15vmin" %>
        </div>
        <div class="card-info">
          <h3><%= event.title %></h3>
          <p><%= event.start %></p>
        </div>
        <div class="right-side">
          <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar" %>
        </div>
        <%= link_to "", event_path(event), class:"card-link" %>
      </div>
    </div>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 375px;"></div>

  <script>
   <% content_for(:after_js) do %>
     <%= javascript_tag do %>
       $(document).on('ready', function() {
         var handler = Gmaps.build('Google');
         handler.buildMap({ internal: { id: 'map' } }, function(){

          var markers = []
          <% @events.each do |event| %>
          <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
            markers.push(handler.addMarkers([
                {
                  lat: <%= event.latitude %>,
                  lng: <%= event.longitude %>,
                  picture: {
                    url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".jpg") %>",
                    width:  50,
                    height: 50
                  }
                }
              ]));
            <% end %>
          <% end %>

          markers.forEach(function(marker) {
            handler.bounds.extendWith(marker);
          });
          handler.fitMapToBounds();
        });
       });
     <% end %>
   <% end %>
 </script>

</div>
