<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-7">
      Sort By:
      <%= link_to "Date ASC", events_path(params_for_event_index(sort: :start_time, order: :asc)) %> |
      <%= link_to "Date DESC", events_path(params_for_event_index(sort: :start_time, order: :desc)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <% @events.each do |event| %>
        <div class="col-xs-12">
          <div class="list-card">
            <div class="sport-image">
              <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 15vmin" %>
            </div>
            <div class="card-info">
              <div class="card-top-line">
                <div class="card-title">
                  <h3><%= event.title %></h3>
                </div>
                <div class="card-time">
                  <p><% event.start_time %></p>
                  <% if event.start_time.today? %>
                    Today, <%= event.start_time.strftime("%H:%M") %>
                  <% elsif event.start_time.to_date == Date.tomorrow %>
                    Tomorrow, <%= event.start_time.strftime("%H:%M") %>
                  <% else %>
                    <%= event.start_time.strftime("%a %d %b, %H:%M") %>
                  <% end %>
                </div>
              </div>
              <div class="card-details">
                <p> level -
                    <%# 2.times do %>
                      <!-- I -->
                    <%# end %>
                  <%= event.missing_player %> spot(s)
                  <% event.missing_player.times do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                  <% end %>
                </p>
                <p> <%= event.g_city %>, <%= event.g_postcode.split[0] %>
                  (<%= Geocoder::Calculations.distance_between([event.latitude, event.longitude], @searcher_coordinates).round(0) %> miles away)

                </p>
              </div>
            </div>
            <div class="right-side">
              <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
              <%= image_tag avatar_url, class: "avatar" %>
            </div>
            <%= link_to "", event_path(event), class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-5">
      <div class="map-index">
        <div id="map" style="width: 100%; height: 375px;"></div>
      </div>
    </div>
  </div>
</div>

  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            var markers = []
            <% @events.each do |event| %>
              <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
                markers.push(handler.addMarkers([
                  {
                    lat: <%= event.latitude %>,
                    lng: <%= event.longitude %>,
                    picture: {
                      url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                      width:  50,
                      height: 50
                    }
                  }
                ]));
              <% end %>
            <% end %>
            markers.forEach(function(marker) {
              handler.bounds.extendWith(marker);
            });
            handler.fitMapToBounds();
          });
        });
      <% end %>
    <% end %>
  </script>

