<div class="row">
  <% @events.each do |event| %>
    <ul>
      <li><%= event.title %> <%= link_to 'Show', event_path(event) %> |
      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Edit', edit_event_path(event) %></li>
    </ul>
  <% end %>

  <div id="map" style="width: 100%; height: 375px;"></div>

  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        });
      <% end %>
    <% end %>
  </script>
</div>
