<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="sport-image">
            <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 15vmin" %>
          </div>
          <div class="card-info">
            <h3><%= event.title %></h3>
            <p><%= event.start %></p>
          </div>
          <div class="right-side">
           <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar" %>
          </div>
          <%= link_to "", event_path(event), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
