<div class="container-index">
  <br>
  <div class="row sort-box">
    <div class="col-xs-12 col-md-7">
      Sort By:
      <%= link_to "Date ASC", events_path(params_for_event_index(sort: :start_time, order: :asc)) %> |
      <%= link_to "Date DESC", events_path(params_for_event_index(sort: :start_time, order: :desc)) %> |
      <%= link_to "Sport", events_path(params_for_event_index(sort: :sport_id, order: :asc)) %> |
      <%= link_to "Distance", events_path(params_for_event_index(sort: :distance, order: :asc)) %> |
      <%= link_to "Free spots", events_path(params_for_event_index(sort: :missing_player, order: :asc)) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3">
      <% ["all", "this week", "Today", "Tomorrow", (Date.today()+2).strftime("%a %d/%m"), (Date.today()+3).strftime("%a %d/%m")].each do |day| %>
      <div class="col-xs-12 col-md-2 date_search">
        <%= day %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
  <!-- Search bar -->
    <div class="col-xs-12 col-md-3">
      <div class="search-box">
        <h4>Sports</h4>
        <form action="<%= events_path %>">
          <select name='sports[]' multiple="multiple" class="selectpicker">
            <% @sports_list.each do |sport| %>
              <option <%= 'selected' if params[:sports] && params[:sports].include?(sport) %> value="<%= sport %>"><%= sport %></option>
            <% end %>
          </select>
          <h4>Time</h4>
          < ADD SLIDER >
          <h4>Location</h4>
          <div class="col-xs-8" style='padding-left:0px'>
            <div class="form-group">
              <input type="text" name="location" placeholder="location" class="form-control" value="<%= params[:location] %>" />
            </div>
          </div>
          <div class="col-xs-4" style='padding:0px'>
            <div class="form-group">
              <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" value="<%= params[:radius] %>"/>
            </div>
          </div>
          <h4>Number of spaces needed</h4>
          <div class="form-group">
            <% party_size.each do |p| %>
              <label class="form-check-label">
                <input type="radio" value="<%= p %>" name="missing_player" <%= 'checked' if params[:missing_player] && params[:missing_player].include?(p.to_s) %> /> <%= p %>
              </label>
            <% end %>
          </div>
          <h4>Type</h4>
          <div class="form-group">
            <% event_type.each do |t| %>
              <label class="checkbox-inline">
                <input type="checkbox" name="event_type[]" value="<%= t %>" <%= 'checked' if params[:event_type] && params[:event_type].include?(t) %> /> <%= t %>
              </label>
            <% end %>
          </div>
          <h4>Vibe</h4>
          <div class="form-group">
            <% levels_list.each do |v| %>
              <label class="checkbox-inline">
                <input type="checkbox" name="event_vibe[]" value="<%= v[1] %>" <%= 'checked' if params[:event_vibe] && params[:event_vibe].include?(v[1].to_s) %> /> <%= v[0] %>
              </label>
            <% end %>
          </div>
          <h4>Friends</h4>
          <div class="form-group">
            <label class="form-check-label">
              <input type="radio" value="friends" name="friends_radio" /> Friends only
            </label>
            <label class="form-check-label">
              <input type="radio" value="all" name="friends_radio" checked /> Everyone
            </label>
          </div>
          <input type="submit" value="Search" class="btn btn-lg btn-success">
        </form>
      </div>
    </div>
<!-- Event cards -->
    <div class="col-xs-12 col-md-9">
      <% @events.each do |event| %>
        <div class="col-xs-12">
          <div class="list-card">
            <div>
              <div class="sport-circle">
                <div class="sport-image">
                  <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 10vmin" %>
                </div>
              </div>
            </div>
            <div class="card-info">
              <div class="card-top-line">
                <div class="card-title">
                  <h4><%= event.title %>
                  <span class="card-details"> | </span>
                  <span class="sport_name"> <%= event.sport.name %> </span> </h4>
                </div>
                <div class="card-time">
                  <% if event.start_time.today? %>
                    Today, <%= event.start_time.strftime("%H:%M") %>
                  <% elsif event.start_time.to_date == Date.tomorrow %>
                    Tomorrow, <%= event.start_time.strftime("%H:%M") %>
                  <% else %>
                    <%= event.start_time.strftime("%a %d %b, %H:%M") %>
                  <% end %>
                  <br>
                  <div style="text-align: right">
                    <% if (event.end_time - event.start_time)/(60) < 120 %>
                      (<%= ((event.end_time - event.start_time)/(60)).round(0) %> mins)
                    <% elsif (event.end_time - event.start_time)/(60*60) > 24 %>
                      (<%= ((event.end_time - event.start_time)/(60*60*24)).round(1) %> days)
                    <% else %>
                      (<%= ((event.end_time - event.start_time)/(60*60)).round(1) %> hours)
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-details">
                <p> <%= Event::LEVELS[event.level - 1].humanize %>
                    <% event.level.times do %>
                      <i class="fa fa-square colour-icon" aria-hidden="true"></i>
                    <% end %>
                    <% (3 - event.level).times do %>
                      <i class="fa fa-square-o colour-icon" aria-hidden="true"></i>
                    <% end %> -
                  <%= event.missing_player %> spot(s)
                  <% event.missing_player.times do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                  <% end %>
                </p>
                <p> <%= event.city %>, <%= event.postcode.split[0] %>
                <% if params[:location].present? %>
                  (<%= event.distance_from(@searcher_coordinates).round(0) %> miles away)
                <% end %>
                </p>
              </div>
            </div>
            <div class="right-side">
              <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
              <%= image_tag avatar_url, class: "avatar" %>
            </div>
            <div style="position: absolute; right: 25px; bottom: -30px;">


            <% if event.players.length > 0 %>
            <ul class="list-inline">
              <!-- <h5>People going:</h5> -->
              <% event.players.each_with_index do |player, index| %>
                <li style="margin-bottom: 15px;">
                  <% if !player.user.photo %>
                    <% profile_image = "https://api.adorable.io/avatars/285/sportl.png" %>
                  <% else %>
                    <% profile_image = player.user.photo.path || player.user.facebook_picture_url.gsub("square", "large") %>
                  <% end %>
                    <%= link_to profile_path(player.user), style: "text-decoration: none;" do %>

                      <% if current_user.friend_uids.include? player.user.uid %>
                        <div class="badge-container">
                          <%= cl_image_tag profile_image, max_width: 200, crop: :fill, responsive_placeholder: "blank", class: "avatar", style: "margin: 10px;" %>
                          <div class="badge badge-blue" style="position: absolute; top: 5px;">f</div>
                        </div>
                      <% end %>

                    <% end %>
                </li>
              <% end %>
            </ul>
            <% end %>
            </div>
            <%= link_to "", event_path(event), class:"card-link" %>
          </div>
        </div>
      <% end %>
      <div class="map-index">
        <div id="map" style="width: 100%; height: 375px;"></div>
      </div>
    </div>
  </div>
</div>

  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          $('.selectpicker').multiselect({
            selectAll: true,
            search: true,
            columns: 2,
            placeholder: 'Select sports',
          });
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            var markers = []
            <% @events.each do |event| %>
              <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
                <% if event.latitude %>
                  markers.push(handler.addMarkers([
                    {
                      lat: <%= event.latitude %>,
                      lng: <%= event.longitude %>,
                      infowindow: '<h3><%= event.title %></h3> <p> <%= event.description %> </p> <p> <%= event.start_time.strftime("%H %M") %> </p> ',
                      picture: {
                        url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                        width:  50,
                        height: 50
                      }
                    }
                  ]));
                <% end %>
              <% end %>
            <% end %>
            markers.forEach(function(marker) {
              handler.bounds.extendWith(marker);
            });
            handler.fitMapToBounds();
          });
        });
      <% end %>
    <% end %>
  </script>

