<div class="container-index">
  <br>
    <div class="dropdown">
      <p class="dropdown-toggle" data-toggle="dropdown"> Sort by:
      <%= params[:sort] %> <%= params[:order] %></p>
      <ul class="dropdown-menu dropdown-menu-sides navbar-sportl-dropdown-menu">
        <li><%= link_to "Date ASC", events_path(params_for_event_index(sort: :start_time, order: :asc)) %></li>
        <li><%= link_to "Date DESC", events_path(params_for_event_index(sort: :start_time, order: :desc)) %></li>
        <li><%= link_to "Sport", events_path(params_for_event_index(sort: :sport_id, order: :asc)) %></li>
        <li><%= link_to "Distance", events_path(params_for_event_index(sort: :distance, order: :asc)) %></li>
        <li><%= link_to "Free spots", events_path(params_for_event_index(sort: :missing_player, order: :asc)) %></li>
      </ul>
    </div>


  <div class="row sort-box">
    <div class="col-xs-12 col-md-7">
      Sort By:
      <%= link_to "Date ASC", events_path(params_for_event_index(sort: :start_time, order: :asc)) %> |
      <%= link_to "Date DESC", events_path(params_for_event_index(sort: :start_time, order: :desc)) %> |
      <%= link_to "Sport", events_path(params_for_event_index(sort: :sport_id, order: :asc)) %> |
      <%= link_to "Distance", events_path(params_for_event_index(sort: :distance, order: :asc)) %> |
      <%= link_to "Free spots", events_path(params_for_event_index(sort: :missing_player, order: :asc)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <% @events.each do |event| %>
        <div class="col-xs-12">
          <div class="list-card">
            <div>
              <div class="sport-circle">
                <div class="sport-image">
                  <%= image_tag ("sports/" + event.sport.name + ".png"), style: "width: 10vmin" %>
                </div>
              </div>
            </div>
            <div class="card-info">
              <div class="card-top-line">
                <div class="card-title">
                  <h4><%= event.title %>
                  <span class="card-details"> | </span>
                  <span class="sport_name"> <%= event.sport.name %> </span> </h4>
                </div>
                <div class="card-time">
                  <% if event.start_time.today? %>
                    Today, <%= event.start_time.strftime("%H:%M") %>
                  <% elsif event.start_time.to_date == Date.tomorrow %>
                    Tomorrow, <%= event.start_time.strftime("%H:%M") %>
                  <% else %>
                    <%= event.start_time.strftime("%a %d %b, %H:%M") %>
                  <% end %>
                  <br>
                  <div style="text-align: right">
                    <% if (event.end_time - event.start_time)/(60) < 120 %>
                      (<%= ((event.end_time - event.start_time)/(60)).round(0) %> mins)
                    <% elsif (event.end_time - event.start_time)/(60*60) > 24 %>
                      (<%= ((event.end_time - event.start_time)/(60*60*24)).round(1) %> days)
                    <% else %>
                      (<%= ((event.end_time - event.start_time)/(60*60)).round(1) %> hours)
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-details">
                <p> level
                    <% event.level.times do %>
                      <i class="fa fa-square colour-icon" aria-hidden="true"></i>
                    <% end %>
                    <% (5 - event.level).times do %>
                      <i class="fa fa-square-o colour-icon" aria-hidden="true"></i>
                    <% end %> -
                  <%= event.missing_player %> spot(s)
                  <% event.missing_player.times do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                  <% end %>
                </p>
                <p> <%= event.city %>, <%= event.postcode.split[0] %>
                <% if params[:location].present? %>
                  (<%= event.distance_from(@searcher_coordinates).round(0) %> miles away)
                  <!-- (<%# Geocoder::Calculations.distance_between([event.latitude, event.longitude], @searcher_coordinates).round(0) %> miles away) -->
                <% end %>
                </p>
              </div>
            </div>
            <div class="right-side">
              <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
              <%= image_tag avatar_url, class: "avatar" %>
            </div>
            <%= link_to "", event_path(event), class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-5">
      <div class="map-index">
        <div id="map" style="width: 100%; height: 375px;"></div>
      </div>
    </div>
  </div>
</div>

  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            var markers = []
            <% @events.each do |event| %>
              <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
                markers.push(handler.addMarkers([
                  {
                    lat: <%= event.latitude %>,
                    lng: <%= event.longitude %>,
                    infowindow: '<h3><%= event.title %></h3> <p> <%= event.description %> </p> <p> <%= event.start_time.strftime("%H %M") %> </p> ',
                    picture: {
                      url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                      width:  50,
                      height: 50
                    }
                  }
                ]));
              <% end %>
            <% end %>
            markers.forEach(function(marker) {
              handler.bounds.extendWith(marker);
            });
            handler.fitMapToBounds();
          });

          <% unless current_user.nil? || current_user.token.nil? %>
            var accessToken = "<%= j current_user.token %>"; // copy your access token here

              // Get basic data from facebook
              $.get("https://graph.facebook.com/me?fields=first_name,last_name,friends,email",
                { access_token: accessToken },
                function(data) {
                  console.log(data);
                  console.log(data.friends.data);
                });

          <% end %>


        });
      <% end %>
    <% end %>
  </script>

