<div class="container-index">
  <br>
  <div class="row">
  <!-- Search bar -->
    <div class="col-xs-12 col-md-3">
      <div class="search-box">

      <form action="<%= events_path %>">

        <h4 id="sport-list-dropdown">Sports <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
        <div class="hide-me" id="reveal-sport">
          <select name='sports[]' multiple="multiple" class="selectpicker">
            <% @sports_list.sort.each do |sport| %>
              <option <%= 'selected' if params[:sports] && params[:sports].include?(sport) %> value="<%= sport %>"><%= sport %></option>
            <% end %>
          </select>
        </div>

          <h4 id="date-dropdown">Date-Time <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-date">
            <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" name="start_time" />
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" name="end_time"/>
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
<!--           <h4>Date</h4> -->
<!--           <div name='reportrange' type="text" id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"> -->
<!--             <input name="startend" type='hidden' value='' id="dateparamsinput"> -->
<!--             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; -->
<!--               <span></span> <b class="caret"></b> -->
<!--           </div> -->

          <h4 id="location-dropdown">Location <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-location">
            <div class="col-md-8" style='padding-left:0px'>
              <div class="form-group">
                <input type="text" name="location" placeholder="location" class="form-control" value="<%= params[:location] %>" />
              </div>
            </div>
            <div class="col-md-4" style='padding:0px'>
              <div class="form-group">
                <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" value="<%= params[:radius] %>"/>
              </div>
            </div>
          </div>

          <h4 id="space-needed-dropdown">Number of spaces needed <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-space-needed">
            <div class="form-group">
              <% party_size.each do |p| %>
                <label class="form-check-label">
                  <input type="radio" value="<%= p %>" name="missing_player" <%= 'checked' if params[:missing_player] && params[:missing_player].include?(p.to_s) %> /> <%= p %>
                </label>
              <% end %>
            </div>
          </div>

          <h4 id="type-dropdown">Type <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-type">
            <div class="form-group">
              <% event_type.each do |t| %>
                <label class="checkbox-inline">
                  <input type="checkbox" name="event_type[]" value="<%= t %>" <%= 'checked' if params[:event_type] && params[:event_type].include?(t) %> /> <%= t %>
                </label>
              <% end %>
            </div>
          </div>

          <h4 id="vibe-dropdown">Vibe <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-vibe">
            <div class="form-group">
              <% levels_list.each do |v| %>
                <label class="checkbox-inline">
                  <input type="checkbox" name="event_vibe[]" value="<%= v[1] %>" <%= 'checked' if params[:event_vibe] && params[:event_vibe].include?(v[1].to_s) %> /> <%= v[0] %>
                </label>
              <% end %>
            </div>
          </div>

          <h4 id="friends-dropdown">Friends <span class="black-icon-right-small"><i class="fa fa-chevron-down"></i></span></h4>
          <div class="hide-me" id="reveal-friends-needed">
            <div class="form-group">
              <label class="form-check-label">
                <input type="radio" value="friends" name="friends_radio" <%= 'checked' if params[:friends_radio] && params[:friends_radio] == 'friends' %> /> Friends only
              </label>
              <label class="form-check-label">
                <input type="radio" value="all" name="friends_radio" <%= 'checked' if !params[:friends_radio] || params[:friends_radio] == "all" %> /> Everyone
              </label>
            </div>
          </div>

          <input type="submit" value="Search" class="btn btn-lg btn-success">
        </form>
      </div>
    </div>

<!-- RIGHT HAND SIDE -->

    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">

          <!-- SORT BY -->
          <div class="sort-box">
            <div>
              Sort By:
              <%= link_to events_path(params_for_event_index(sort: :start_time, order: :asc)) do %>
                Date <i class="fa fa-angle-up"></i>
              <% end %> |
              <%= link_to events_path(params_for_event_index(sort: :start_time, order: :desc)) do %>
                Date <i class="fa fa-angle-down"></i>
              <% end %> |
              <%= link_to "Sport", events_path(params_for_event_index(sort: :sport_id, order: :asc)) %> |
              <%= link_to "Distance", events_path(params_for_event_index(sort: :distance, order: :asc)) %> |
              <%= link_to "Free spots", events_path(params_for_event_index(sort: :missing_player, order: :asc)) %>
            </div>
            <div>
              Display: <span id="list-style" style="cursor: pointer; color: #FA6061">toggle map</span>
            </div>
          </div>
          <p> <%= @events.count %> EVENTS AVAILABLE </p>
        </div>
      </div>

      <!-- SPORTS CARDS -->
      <div class="row">
        <div class="col-xs-12">

          <div id="sports-cards-list">
            <% @events.each do |event| %>
              <div class="col-xs-12">
                <div class="list-card">
                  <div class="circles">
                  <% if event.user.photo? %>
                    <% avatar_url = cl_image_path(event.user.photo.path) %>
                  <% elsif event.user.facebook_picture_url %>
                    <% avatar_url = event.user.facebook_picture_url.gsub('square', 'large')  %>
                  <% else %>
                    <% avatar_url = "https://api.adorable.io/avatars/285/sportl.png" %>
                  <% end %>
                    <%= image_tag avatar_url, class: "avatar" %>
                    <span class="sport-circle">
                      <%= image_tag ("sports/" + event.sport.name + ".png") %>
                    </span>
                  </div>
                  <div class="card-info">
                    <div class="card-top-line">
                      <div class="card-title">
                        <h4><%= event.title %>
                        <span class="card-details">
                      </div>
                    </div>
                    <div class="card-details">
                      <p> <%= Event::LEVELS[event.level - 1].humanize %>
                          -
                        <% event.missing_player.times do %>
                          <i class="fa fa-user" aria-hidden="true"></i>
                        <% end %>
                        -
                        <% if event.gender.downcase == "ladies" %>
                          ladies
                        <% elsif event.gender.downcase == "mens" %>
                          mens
                        <% else %>
                          mixed
                        <% end %>
                      </p>
                      <p> <%= event.city %>, <%= event.postcode.split[0] %>
                      <% if params[:location].present? %>
                        (<%= event.distance_from(@searcher_coordinates).round(0) %> miles away)
                      <% end %>
                      </p>
                    </div>
                  </div>
                  <div class="right-side">
                    <div class="card-time">
                      <% if event.start_time.today? %>
                        Today, <%= event.start_time.strftime("%H:%M") %>
                      <% elsif event.start_time.to_date == Date.tomorrow %>
                        Tomorrow, <%= event.start_time.strftime("%H:%M") %>
                      <% else %>
                        <%= event.start_time.strftime("%a %d %b, %H:%M") %>
                      <% end %>
                      <br>
                      <div style="text-align: right">
                        <% if (event.end_time - event.start_time)/(60) < 120 %>
                          (<%= ((event.end_time - event.start_time)/(60)).round(0) %> mins)
                        <% elsif (event.end_time - event.start_time)/(60*60) > 24 %>
                          (<%= ((event.end_time - event.start_time)/(60*60*24)).round(1) %> days)
                        <% else %>
                          (<%= ((event.end_time - event.start_time)/(60*60)).round(1) %> hours)
                        <% end %>
                      </div>
                    </div>
                    <% if event.players.length > 0 && user_signed_in? %>
                      <ul class="list-inline">
                        <% event.players.each_with_index do |player, index| %>
                          <li style="margin-bottom: 15px;">
                              <% profile_image = (player.user.photo? ? cl_image_path(player.user.photo.path) : player.user.facebook_picture_url  || "https://api.adorable.io/avatars/285/))sportl.png" ) %>
                              <%= link_to profile_path(player.user), style: "text-decoration: none;" do %>
                                <% if current_user.friend_uids.include? player.user.uid %>
                                  <div class="badge-container">
                                    <%= cl_image_tag profile_image, max_width: 200, crop: :fill, responsive_placeholder: "blank", class: "avatar", style: "margin: 10px;" %>
                                    <div class="badge badge-blue" style="position: absolute; top: 5px;">f</div>
                                  </div>
                                <% end %>
                              <% end %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <%= link_to "", event_path(event), class:"card-link" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="map-index" style="z-index: 1000; ">
            <div id="map4" style="width: 100%; height: 500px; z-index: 1000"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {


          $(function () {
              $('#datetimepicker1').datetimepicker({
                format: "DD/MM/YYYY HH:mm",
                // sideBySide: true,
                minDate: moment(),
                stepping: 30,
                useCurrent: false,
                defaultDate: moment().add(1,'hours')
              });
              $('#datetimepicker2').datetimepicker({
                format: "DD/MM/YYYY HH:mm",
                // sideBySide: true,
                minDate: moment(),
                stepping: 30,
                useCurrent: false,
                defaultDate: moment().add(6, 'days')
              });

              $("#datetimepicker1").on("dp.change", function (e) {
                  $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
              });
              $("#datetimepicker2").on("dp.change", function (e) {
                  $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
              });
          });


          $('.selectpicker').multiselect({
            selectAll: true,
            search: true,
            columns: 2,
            placeholder: 'Select sports',
          });

          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map4' } }, function(){
            var markers = []
            <% @events.each do |event| %>
              <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
                <%# if event.latitude %>
                  markers.push(handler.addMarkers([
                    {
                      lat: <%= event.latitude %>,
                      lng: <%= event.longitude %>,
                      infowindow: "<h3><%= event.title %></h3> <p> <%= event.description %> </p> <p> <%= event.start_time.strftime("%H %M") %> </p> ",
                      picture: {
                        url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                        width:  50,
                        height: 50
                      }
                    }
                  ]));
                <%# end %>
              <% end %>
            <% end %>
            markers.forEach(function(marker) {
              handler.bounds.extendWith(marker);
            });
            handler.fitMapToBounds();
          });

          $('#sport-list-dropdown').click(function() {
            if ($('#reveal-sport').hasClass('open')){
              $('#reveal-sport').slideUp( "slow", function() {});
            } else {
              $('#reveal-sport').slideDown( "slow", function() {});
            }
            $('#reveal-sport').toggleClass("open");
            $('#sport-list-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#sport-list-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#date-dropdown').click(function() {
            if ($('#reveal-date').hasClass('open')){
              $('#reveal-date').slideUp( "slow", function() {});
            } else {
              $('#reveal-date').slideDown( "slow", function() {});
            }
            $('#reveal-date').toggleClass("open");
            $('#date-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#date-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#location-dropdown').click(function() {
            if ($('#reveal-location').hasClass('open')){
              $('#reveal-location').slideUp( "slow", function() {});
            } else {
              $('#reveal-location').slideDown( "slow", function() {});
            }
            $('#reveal-location').toggleClass("open");
            $('#location-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#location-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#space-needed-dropdown').click(function() {
            if ($('#reveal-space-needed').hasClass('open')){
              $('#reveal-space-needed').slideUp( "slow", function() {});
            } else {
              $('#reveal-space-needed').slideDown( "slow", function() {});
            }
            $('#reveal-space-needed').toggleClass("open");
            $('#space-needed-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#space-needed-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#type-dropdown').click(function() {
            if ($('#reveal-type').hasClass('open')){
              $('#reveal-type').slideUp( "slow", function() {});
            } else {
              $('#reveal-type').slideDown( "slow", function() {});
            }
            $('#reveal-type').toggleClass("open");
            $('#type-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#type-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#vibe-dropdown').click(function() {
            if ($('#reveal-vibe').hasClass('open')){
              $('#reveal-vibe').slideUp( "slow", function() {});
            } else {
              $('#reveal-vibe').slideDown( "slow", function() {});
            }
            $('#reveal-vibe').toggleClass("open");
            $('#vibe-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#vibe-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });
          $('#friends-dropdown').click(function() {
            if ($('#reveal-friends-needed').hasClass('open')){
              $('#reveal-friends-needed').slideUp( "slow", function() {});
            } else {
              $('#reveal-friends-needed').slideDown( "slow", function() {});
            }
            $('#reveal-friends-needed').toggleClass("open");
            $('#friends-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-up');
            $('#friends-dropdown .black-icon-right-small > .fa').toggleClass('fa-chevron-down');
          });

          $('#map-style').click(function() {
            if ($('#sports-cards-list').hasClass('open')) {
              $('#sports-cards-list').slideUp("fast", function() {});
            } else {
              $('#sports-cards-list').slideDown("fast", function() {});
            }
            $('#sports-cards-list').toggleClass("open");
          });
          $('#list-style').click(function() {
            if ($('.map-index').hasClass('open')) {
              $('.map-index').slideUp("fast", function() {});
              $('#sports-cards-list').slideDown("fast", function() {});
            } else {
            $('.map-index').slideDown("fast", function() {});
            $('#sports-cards-list').slideUp("fast", function() {});
            }
            $('.map-index').toggleClass("open");
          });
        });

//           var start = moment();
//           var end = moment();

//           function cb(start, end) {
//               $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
//               $("#dateparamsinput").val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

//           }

//           $('#reportrange').daterangepicker({
//               startDate: start,
//               endDate: end,
//               ranges: {
//                  'Today': [moment(), moment()],
//                  'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
//                  'This week': [moment(), moment().add(6, 'days')],
//                  'Next 30 days': [moment(), moment().add(29, 'days')],
//                  'All': [moment(), moment().add(1, 'years')]
//               }
//           }, cb);
//           cb(start, end);
      <% end %>
    <% end %>

