<div class="container-index">
  <br>
  <div class="row sort-box">
    <div class="col-xs-12 col-md-7">
      Sort By:
      <%= link_to "Date ASC", events_path(params_for_event_index(sort: :start_time, order: :asc)) %> |
      <%= link_to "Date DESC", events_path(params_for_event_index(sort: :start_time, order: :desc)) %> |
      <%= link_to "Sport", events_path(params_for_event_index(sort: :sport_id, order: :asc)) %> |
      <%= link_to "Distance", events_path(params_for_event_index(sort: :distance, order: :asc)) %> |
      <%= link_to "Free spots", events_path(params_for_event_index(sort: :missing_player, order: :asc)) %>
    </div>
  </div>
  <div class="row">
  <!-- Search bar -->
    <div class="col-xs-12 col-md-3">
      <div class="search-box">
        <h4>Sports</h4>
        <form action="<%= events_path %>">
          <select name='sports[]' multiple="multiple" class="selectpicker">
            <% @sports_list.sort.each do |sport| %>
              <option <%= 'selected' if params[:sports] && params[:sports].include?(sport) %> value="<%= sport %>"><%= sport %></option>
            <% end %>
          </select>
          
          <h4>Date-Time</h4>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name="start_time" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
          </div>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" name="end_time"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
          </div>
<!--           <h4>Date</h4> -->
<!--           <div name='reportrange' type="text" id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"> -->
<!--             <input name="startend" type='hidden' value='' id="dateparamsinput"> -->
<!--             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; -->
<!--               <span></span> <b class="caret"></b> -->
<!--           </div> -->
          <h4>Location</h4>
          <div class="col-xs-8" style='padding-left:0px'>
            <div class="form-group">
              <input type="text" name="location" placeholder="location" class="form-control" value="<%= params[:location] %>" />
            </div>
          </div>
          <div class="col-xs-4" style='padding:0px'>
            <div class="form-group">
              <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" value="<%= params[:radius] %>"/>
            </div>
          </div>
          <h4>Number of spaces needed</h4>
          <div class="form-group">
            <% party_size.each do |p| %>
              <label class="form-check-label">
                <input type="radio" value="<%= p %>" name="missing_player" <%= 'checked' if params[:missing_player] && params[:missing_player].include?(p.to_s) %> /> <%= p %>
              </label>
            <% end %>
          </div>
          <h4>Type</h4>
          <div class="form-group">
            <% event_type.each do |t| %>
              <label class="checkbox-inline">
                <input type="checkbox" name="event_type[]" value="<%= t %>" <%= 'checked' if params[:event_type] && params[:event_type].include?(t) %> /> <%= t %>
              </label>
            <% end %>
          </div>
          <h4>Vibe</h4>
          <div class="form-group">
            <% levels_list.each do |v| %>
              <label class="checkbox-inline">
                <input type="checkbox" name="event_vibe[]" value="<%= v[1] %>" <%= 'checked' if params[:event_vibe] && params[:event_vibe].include?(v[1].to_s) %> /> <%= v[0] %>
              </label>
            <% end %>
          </div>

          <h4>Friends</h4>
          <div class="form-group">
            <label class="form-check-label">
              <input type="radio" value="friends" name="friends_radio" <%= 'checked' if params[:friends_radio] && params[:friends_radio] == 'friends' %> /> Friends only
            </label>
            <label class="form-check-label">
              <input type="radio" value="all" name="friends_radio" <%= 'checked' if !params[:friends_radio] || params[:friends_radio] == "all" %> /> Everyone
            </label>
          </div>

          <input type="submit" value="Search" class="btn btn-lg btn-success">
        </form>
      </div>
    </div>
<!-- Event cards -->
    <div class="col-xs-12 col-md-9">
      <% @events.each do |event| %>
        <div class="col-xs-12">
          <div class="list-card">
            <div class="circles">
              <% avatar_url = event.user.photo? ? cl_image_path(event.user.photo.path) : event.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
              <%= image_tag avatar_url, class: "avatar" %>
              <span class="sport-circle">
                <%= image_tag ("sports/" + event.sport.name + ".png") %>
              </span>
            </div>
            <div class="card-info">
              <div class="card-top-line">
                <div class="card-title">
                  <h4><%= event.title %>
                  <span class="card-details">
                </div>
              </div>
              <div class="card-details">
                <p> <%= Event::LEVELS[event.level - 1].humanize %>
                    -
                  <% event.missing_player.times do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                  <% end %>
                </p>
                <p> <%= event.city %>, <%= event.postcode.split[0] %>
                <% if params[:location].present? %>
                  (<%= event.distance_from(@searcher_coordinates).round(0) %> miles away)
                <% end %>
                </p>
              </div>
            </div>
            <div class="right-side">
              <div class="card-time">
                <% if event.start_time.today? %>
                  Today, <%= event.start_time.strftime("%H:%M") %>
                <% elsif event.start_time.to_date == Date.tomorrow %>
                  Tomorrow, <%= event.start_time.strftime("%H:%M") %>
                <% else %>
                  <%= event.start_time.strftime("%a %d %b, %H:%M") %>
                <% end %>
                <br>
                <div style="text-align: right">
                  <% if (event.end_time - event.start_time)/(60) < 120 %>
                    (<%= ((event.end_time - event.start_time)/(60)).round(0) %> mins)
                  <% elsif (event.end_time - event.start_time)/(60*60) > 24 %>
                    (<%= ((event.end_time - event.start_time)/(60*60*24)).round(1) %> days)
                  <% else %>
                    (<%= ((event.end_time - event.start_time)/(60*60)).round(1) %> hours)
                  <% end %>
                </div>
              </div>
              <% if event.players.length > 0 %>
                <ul class="list-inline">
                  <% event.players.each_with_index do |player, index| %>
                    <li style="margin-bottom: 15px;">
                        <% profile_image = player.user.photo? ? cl_image_path(player.user.photo.path) : player.user.facebook_picture_url || "https://api.adorable.io/avatars/285/sportl.png" %>
                        <%= link_to profile_path(player.user), style: "text-decoration: none;" do %>
                          <% if current_user.friend_uids.include? player.user.uid %>
                            <div class="badge-container">
                              <%= cl_image_tag profile_image, max_width: 200, crop: :fill, responsive_placeholder: "blank", class: "avatar", style: "margin: 10px;" %>
                              <div class="badge badge-blue" style="position: absolute; top: 5px;">f</div>
                            </div>
                          <% end %>
                        <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <%= link_to "", event_path(event), class:"card-link" %>
          </div>
        </div>
      <% end %>
      <div class="map-index">
        <div id="map" style="width: 100%; height: 375px;"></div>
      </div>
    </div>
  </div>
</div>

  <script>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          $(function () {
              $('#datetimepicker1').datetimepicker({format: "DD/MM/YYYY HH:mm"});
              $('#datetimepicker2').datetimepicker({
                format: "DD/MM/YYYY HH:mm",
                useCurrent: false //Important! See issue #1075
              });

              $("#datetimepicker1").on("dp.change", function (e) {
                  $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
              });
              $("#datetimepicker2").on("dp.change", function (e) {
                  $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
              });
          });
          
//           var start = moment();
//           var end = moment();

//           function cb(start, end) {
//               $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
//               $("#dateparamsinput").val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

//           }

//           $('#reportrange').daterangepicker({
//               startDate: start,
//               endDate: end,
//               ranges: {
//                  'Today': [moment(), moment()],
//                  'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
//                  'This week': [moment(), moment().add(6, 'days')],
//                  'Next 30 days': [moment(), moment().add(29, 'days')],
//                  'All': [moment(), moment().add(1, 'years')]
//               }
//           }, cb);
//           cb(start, end);

          $('.selectpicker').multiselect({
            selectAll: true,
            search: true,
            columns: 2,
            placeholder: 'Select sports',
          });

          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            var markers = []
            <% @events.each do |event| %>
              <% @hash = Gmaps4rails.build_markers(event) do |event, marker| %>
                <% if event.latitude %>
                  markers.push(handler.addMarkers([
                    {
                      lat: <%= event.latitude %>,
                      lng: <%= event.longitude %>,
                      infowindow: '<h3><%= event.title %></h3> <p> <%= event.description %> </p> <p> <%= event.start_time.strftime("%H %M") %> </p> ',
                      picture: {
                        url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                        width:  50,
                        height: 50
                      }
                    }
                  ]));
                <% end %>
              <% end %>
            <% end %>
            markers.forEach(function(marker) {
              handler.bounds.extendWith(marker);
            });
            handler.fitMapToBounds();

          });
        });
      <% end %>
    <% end %>
  </script>

