
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @event.title %> | <%= @event.sport.name %></h1>
      <h3>location (to be added)</h3>
      <p><%= @event.description %></p>
    </div>

    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_event_path(@event) %></li>
    <div class="col-xs-12">
      <%= render 'bookings/form' %>
    </div>
  </div>

    <div class="col-xs-10 col-xs-offset-1">
      <div id="map" style="width: 100%; height: 375px;"></div>

      <script>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(16);
              });
            });
          <% end %>
        <% end %>
      </script>

    </div>
</div>
</div>
