
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @event.title %> | <%= @event.sport.name %></h1>
      <h3>location (to be added)</h3>
      <p><%= @event.description %></p>
      <p><%= @event.start.strftime("%Y") %></p>
      <p> Number of missing players: <%= @event.missing_player %></p>
    </div>

    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_event_path(@event) %></li>
    <div class="col-xs-12">
      <%= render 'bookings/form' %>
    </div>
  </div>

    <div class="col-xs-10 col-xs-offset-1">
      <div id="map" style="width: 100%; height: 375px;"></div>

       <script>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){

               <% @hash = Gmaps4rails.build_markers(@event) do |event, marker| %>
                 markers = handler.addMarkers([
                     {
                       lat: <%= event.latitude %>,
                       lng: <%= event.longitude %>,
                       picture: {
                         url: "<%= image_path ("sports/thumbnails/" + event.sport.name + ".png") %>",
                         width:  50,
                         height: 50
                       }
                     }
                   ]);
                 <% end %>

               markers.forEach(function(marker) {
                 handler.bounds.extendWith(marker);
               });
               handler.fitMapToBounds();
              handler.getMap().setZoom(14);
             });
            });
          <% end %>
        <% end %>
      </script>

    </div>
</div>
</div>
