
<div class="home-banner" style="background-image: url('<%= image_path 'library/football-pitch.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="home-banner-caption">
    <span class="home-banner-typed"></span>
    <h1>Play a game with a team near you</h1>
  </div>
</div>

<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Find your team</h2>
        <%= form_tag("events", method: "get", class: "form-inline", id: "sport-form") do %>
        <div class="form-group">
          <%= select_tag "sports", options_for_select(@sports_list) %>
        </div>
        <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker1' >
            <input type='text' class="form-control" name="start" placeholder="from" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
         <div class="form-group date-picker">
          <div class='input-group date' id='datetimepicker2' >
            <input type='text' class="form-control" name="end" placeholder="until" style="width: 120px" />
            <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= select_tag "missing_player", options_for_select(@party_size), placeholder: "Party size" %>
        </div>
        <div class="form-group">
          <input type="text" name="location" placeholder="Postcode" class="form-control">
        </div>
        <div class="form-group">
          <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" />
        </div>
        <%= submit_tag("Search", class: "btn btn-success btn-lg sport-form-submit") %>
        <div id="slider"></div>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bigscreen-image-banner" style="background-image: url('<%= image_path 'library/basketball.jpg' %>'); background-attachment: fixed; background-size: cover; background-position: center;">
  <div class="image-banner-contents">
    <h1>Looking for team mates?</h1>
    <div class="text-center">
      <%= link_to new_event_path do %>
        <div class="btn btn-lg btn-primary find-player-btn">find a player</div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".home-banner-typed").typed({
          strings: ["^1000 Looking for something to do tonight?"],
          typeSpeed: 10
      });
    });
    $(function () {
        $('#datetimepicker1').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
          icons: {
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right'
          }
        });

        $('#datetimepicker2').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            $('#datetimepicker2').data("DateTimePicker").defaultDate(e.date);
        });
      });
  <% end %>
<% end %>
