
<div class="home-banner" style="background-image: url('<%= image_path 'library/football-pitch.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="home-banner-caption">
    <span class="home-banner-typed"></span>
    <h1>Play a game with a team near you</h1>
  </div>
</div>

<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Find your team</h2>
        <%= form_tag("events", method: "get", class: "form-inline", id: "sport-form") do %>
        <div class="form-group">
          <%= select_tag "sports", options_for_select(@sports_list) %>
        </div>

        <div class="form-group date-picker">
          <input type="text" id="calendar" name="start" placeholder="&#xf073; from" style="font-family:Arial, FontAwesome" class="form-control">
        </div>
        <div class="form-group date-picker">
          <input type="text" id="calendar2" name="end" placeholder="&#xf073; until" style="font-family:Arial, FontAwesome" class="form-control">
        </div>
        <div class="form-group">
          <%= select_tag "missing_player", options_for_select(@party_size), placeholder: "Party size" %>
        </div>
        <div class="form-group">
          <input type="text" name="location" placeholder="Postcode" class="form-control">
        </div>
        <div class="form-group">
          <input id="radius" name="radius" type="number" placeholder="Radius (km)" class="form-control" />
        </div>
        <%= submit_tag("Search", class: "btn btn-success btn-lg sport-form-submit") %>
        <div id="slider"></div>
    <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bigscreen-image-banner" style="background-image: url('<%= image_path 'library/basketball.jpeg' %>'); background-attachment: fixed; background-size: cover; background-position: center;">
  <div class="image-banner-contents">
    <h1>Looking for team mates?</h1>
    <div class="text-center">
      <%= link_to new_event_path do %>
        <div class="btn btn-lg btn-primary find-player-btn">find a player</div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".home-banner-typed").typed({
          strings: ["^1000 Looking for something to do tonight?"],
          typeSpeed: 10
      });
    });
  <% end %>
<% end %>
