
<div class="home-banner" style="background-image: url('<%= image_path 'library/football-pitch.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="home-banner-caption">
    <span class="home-banner-typed"></span>
    <h1>Play a game with a team near you</h1>
    <div class="text-center">
      <%= link_to '#home-wrapper' do %>
        <%= image_tag('down-chevron', class: "hvr-hang") %>
      <% end %>
    </div>
  </div>
</div>

<div id="home-wrapper">
  <div class="home-wrapper-content">
    <h2>Looking for a game?</h2>
    <form action="<%= events_path %>" method="get" class="form-inline" id="sport-form">
      <input type="text" name="location" placeholder="where do you want to play?" class="form-control input-lg" style="box-shadow: none"/>
      <input type="hidden" name="radius", value="15" />
      <% if user_signed_in? %>
        <input type="hidden" name="missing_player" value=1 />
        <% if current_user.gender == "Female" %>
          <input type="hidden" name="event_type[]", value="ladies" />
        <% elsif current_user.gender == "Male" %>
          <input type="hidden" name="event_type[]", value="mens" />
        <% else %>
          <input type="hidden" name="event_type[]", value="ladies" />
          <input type="hidden" name="event_type[]", value="mens" />
        <% end %>
        <input type="hidden" name="event_type[]", value="mixed" />
      <% end %>
      <input type="submit" class="btn btn-success btn-lg" value="Search"/>
    </form>
  </div>
</div>


<div class="bigscreen-image-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'library/basketball.jpeg' %>'); background-attachment: fixed; background-size: cover; background-position: center;">
  <div class="image-banner-contents">
    <h2>Looking for team mates?</h2>
    <div class="text-center">
      <%= link_to new_event_path do %>
        <div class="btn btn-lg btn-danger btn-lg">Add your game</div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".home-banner-typed").typed({
          strings: ["^1000 Looking for something to do tonight?", "Join a game and have fun!"],
          typeSpeed: 10
      });
    });
    $(function () {
        $('#datetimepicker3').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
          icons: {
            previous: 'glyphicon glyphicon-chevron-left',
            next: 'glyphicon glyphicon-chevron-right'
          }
        });

        $('#datetimepicker4').datetimepicker({
          format: "DD/MM/YYYY HH:mm",
          sideBySide: true,
          minDate: moment(),
          stepping: 5,
        });
        $("#datetimepicker3").on("dp.change", function (e) {
            $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
            $('#datetimepicker4').data("DateTimePicker").defaultDate(e.date);
        });
      });
  <% end %>
<% end %>
